<img src="../public/img/burger.jpeg" alt="Picture of a burger">


<h1>Eat Da Burger</h1>

<form class="create-form" style="text-align: center">

    <div class="form-group">
        <input type="text" id="burger" name="name">
    </div>


    <button type="submit">Submit</button>
</form>

<h3>Enter the type of burger you want to eat then click the "submit" button!</h3>