<img src="assets/img/burger.jpeg" alt="Picture of a burger" class="center">


<h1>Eat Da Burger</h1>

<h2>Burgers not yet devoured!</h2>

<br>

<div class="notDevoured">
    <ol>
        {{#each burgers}}
        {{#unless devour}}
        {{> burgers/burger-block devour=false}}
        {{/unless}}
        {{/each}}
    </ol>
</div>

<div class="devoured">
    <ol>
        {{#each burgers}}
        {{#if devour}}
        {{> burgers/burger-devour-block devour=true}}
        {{/if}}
        {{/each}}
    </ol>
</div>

<form class="create-form" style="text-align: center">

    <div class="form-group">
        <input type="text" id="burger" name="name">
    </div>


    <button type="submit">Submit</button>
</form>

<form class="create-form" style="text-align: center">

    <div class="form-group">
        <input type="text" id="burger" name="name">
    </div>


    <button type="submit" id="submitButton">Submit</button>
</form>

<h3>Enter the type of burger you want to eat then click the "submit" button!</h3>